{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "Mysql": {
    "host": "localhost",
    "port": 3306,
    "database": "test",
    "user": "test",
    "password": "test"
  }
}
